.fallacy-2 {

  .answer {
    margin-bottom: 0;
  }

  .variant-solush {
    margin-top: 20px;
    margin-bottom: 20px;

    .text {
      font-size: 1.5625rem;
      font-weight: 500;


      .num-4 {
        max-width: 900px;
        color: #606060;
        font-weight: normal;
        font-size: 1.1875rem;
      }
    }
  }
  .btn-base {
    max-width: 240px;
    margin-top: 25px;
  }

  .shape {
    margin-bottom: 40px;
    margin-top: 35px;
  }
  .solutions {
    margin-bottom: 10px;
  }

}