.fallacy.fallacy-8 {
  background: url("../img/bg-fall-8.png") center center no-repeat;
  background-size: cover;

  .fall {
    background-color:  #11ab9f;
  }

  .text,
  .caption {
    color: #fff;
  }

  .answer {
    color:  #c8c8c8;
    font-weight: 500;
  }

  .solutions {
    color: #fff;
  }

  .caption-solushion {
    color: #fff;
  }
  .variant-solush {
    margin-top: 0;
  }
}