
.info {
  position: relative;
  height: 100vh;
  z-index: 1;

  .padd-wrap {
    padding-top: 180px;
    padding-bottom: 170px;
    z-index: 2;
  }

  .content {
    max-width: 1110px;
    display: flex;
    justify-content: flex-start;
    margin: auto;


    p {
      max-width: 715px;
      font-size: 3rem;
      font-weight: 900;
      color: #006b63;
      white-space: pre-line;

      @media only screen and (max-width : 992px){
        @include fontSize(40px)
        line-height: 1.5;
      }
      @media only screen and (max-width : 650px){
        @include fontSize(35px)
        line-height: 1.2;
      }
      @media only screen and (max-width : 480px){
        @include fontSize(31px)
      }
    }
  }

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
}
